:root {
  --primario: #e23939;
  --gris-claro: #b8b8b8;
  --gris-oscuro: #a1a1a1;
  --sombra: 0 0 13px 0 rgba(185, 185, 185, 0.25);
}

body {
  background-image: url('../public/assets/fondo3.jfif');
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar {
  background: black;
  opacity: 0.8;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  color: white !important;
}

.nav-link {
  color: white !important;
}

.card-pet {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: black;
  font-weight: 300;
  color: white;
  border: 2px solid transparent;
  transition: 0.3s ease all;
  opacity: 0.9;
}
.button-link {
  background: none;
  border: none;
}
.input-group-pet {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0px auto;
}

.label-pet {
  text-align: left;
  text-transform: uppercase;
  margin-top: 5px;
}

.label-error {
  color: red;
  font-weight: bold;
  text-align: left;
}

.input-pet {
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--gris-claro);
  color: white;
  margin-bottom: 20px;
  outline: none;
  transition: 0.4s ease-out all;
}

.input-pet:focus {
  border-bottom: 3px solid white;
}

.dog-pet {
  font-size: 55px;
  margin-bottom: 10px;
}

.dash-main-container {
  background-color: black !important;
  color: white;
  border-radius: 10px;
  opacity: 0.8 !important;
  width: 70%;
  margin: 0px auto;
}

.preview-img {
  border: 3px solid #292929;
  text-align: center;
  padding: 5px;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s ease all;
  overflow: hidden;
}
.preview-img:hover {
  box-shadow: var(--sombra);
  border: 3px solid black;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.dashboard-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.name-title {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  margin-bottom: 20px;
  font-weight: bold;
}
